*{
  margin: 0;
}
body{
  background: rgb(255, 255, 255);
}
.card{
  display: inline-block;
  margin: 5px;
  width: 18rem;

}
.link1{
  margin-left: 20px;
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  }
.link2{
margin-right: 10px;
margin-left: 300%;
text-decoration: none;
color: white;
}

.link3{
margin-right: 10px;
margin-left: 10px;
text-decoration: none;
color: white;
}
.me-auto{
  float: right;
}
input{
  width: 400px;
  padding: 5px;
  margin: 5px;
}
.input{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:20px;
  font-size: 1.5rem;
  font-weight: 500;

}
.btn{
  margin-left:150px;

}
.msg{
  color: green;
  text-align: center;
  font-weight: 500;
}
