*{
  margin: 0;
}
body{
  background: rgb(255, 255, 255);
}
.card{
  display: inline-block;
  margin: 5px;
  width: 18rem;

}
.link1{
  margin-left: 20px;
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  } 
.route{
margin-right: 10px;
margin-left: 10px;
text-decoration: none;
color: white;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.me-auto{
}
input{
  width: 400px;
  padding: 5px;
  margin: 5px;
}
.input{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:20px;
  font-size: 1.5rem;
  font-weight: 500;

}
.btnReg{
  margin-left:150px;

}
.msg{
  color: green;
  text-align: center;
  font-weight: 500;
}
.btn{
  margin: 2px;
  width: 80px;
  height: 38px;
}
.btn:hover{
  background: black;
}